.footer {
    left: 0px;
    bottom: 0px;
    height: 50px;
    position: fixed;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('https://media.giphy.com/media/9D2iQLabobsME/giphy.gif ') 50% 50% no-repeat rgb(255, 254, 254);
    opacity: 2;
}