.footer {
    left: 0px;
    bottom: 0px;
    height: 50px;
    position: fixed;
    width: 100%;
    text-align: center;
    background: black;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-evenly;
}


.App {

    background-color: #000000;
}


.heading{
        font-family: 'Audiowide';
        font-size:25px;
        ;
        background-color:black;
        color:#dbc2ba !important;
}

.social-icons {
    list-style-type: none;
    display: inline-block;
}

.social-icons > li {
    display: inline;
    margin-left: -5px;
}

.social-svg {
    width: 30px!important;
    height: 30px!important;
}

.social-container {
    top: -6px!important;
}

.social-icon {
    overflow: visible!important;
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("loading.gif") 50% 50% no-repeat rgb(12, 12, 12);
    opacity: 10;
}
